cssselect==0.9.1
dominate==2.1.17
enum==0.4.6
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
grizzled-python==1.0.1
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
MySQL-python==1.2.5
prettytable==0.7.2
pyquery==1.2.11
PyYAML==3.11
requests==2.9.1
SQLAlchemy==1.0.12
sqlcmd==0.7.1
visitor==0.1.2
Werkzeug==0.11.4
wheel==0.24.0
