body {
  font-size: 24px;
}
.header {
  width: 200px;
  height: 200px;
  background-color: green;
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.test {
  width: 150px;
  height: 400px;
  font-size: 100px;
  border: 10px solid deeppink;
  background-color: #333333;
}
